*{
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  color: silver;
}
li{
  list-style: none;
}

.nav h1{
text-align: center;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 80px;
  height: 8px;
  background-color:silver;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-13px, 9px) ;
  transform: rotate(-45deg) translate(-12px, 9px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
.dropbtn {
  background-color: #4CAF50;
  /*color: white;*/
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


/* The search field */
input {
  box-sizing: border-box;
  width: 100%;
  background-repeat: no-repeat;
  font-size: 35px;
  border: none;
  border-bottom: 1px solid #ddd;
}


input:focus {
  outline: 3px solid #ddd;
}


.dropdown {
  width: 100%;
  margin-top: 15px;
  position: relative;
  display: inline-block;
}
.dropdown li{
  margin-left: 15px;
}
#genreSearch{
  width: 100%;
}


.dropdown-content {
  display: none;
  position: absolute;
  /*background-color: #f6f6f6;*/
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
  font-size: 55px;
  color: black;
}

.show {display:block;}

.player{
  display: none;
}
.stations{
  width: 90%;
  margin: auto;
}
.stations div{
  width: 100%;
  margin-top: 10px;
  border-style: solid;
  border-radius: 5px;
}
.stations img{
  width: 160px;
  height: 160px;
}
.stations object{
  margin-left: 10px;
  width: 160px;
  height: 160px;
}
.stations h1, ul,li{
margin-left: 20px;
}








  
